@media screen and (max-width: 1440px) {
    .layout .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .layout .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .layout .mobile-header {
        display: none;
    }

    .layout .mobile-header img {
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
    }

    .layout .header .sub-header {
        gap: 2rem;
    }

    .layout .about .profile {
        flex-direction: column;
    }

    .layout .about .profile .image {
        order: 1;
        justify-content: center;
    }

    .layout .about .profile .content {
        order: 2;
        text-align: center;
    }

    .layout .about .profile .content .designation {
        justify-content: center;
    }

    .layout .about .profile .content .social-websites {
        justify-content: center;
    }
}

@media screen and (max-width: 640px) {
    .layout .header {
        display: none;
    }

    .layout .mobile-header {
        display: flex;
        justify-content: space-between;
    }

    .layout .mobile-header .burger-menu {
        display: block;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    .layout .mobile-header .burger-menu input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    .layout .mobile-header .burger-menu span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    .layout .mobile-header .burger-menu span:first-child {
        transform-origin: 0% 0%;
    }

    .layout .mobile-header .burger-menu span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    .layout .mobile-header .burger-menu input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
 * But let's hide the middle one.
 */
    .layout .mobile-header .burger-menu input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    .layout .mobile-header .burger-menu input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    .layout .mobile-header .burger-menu .menu {
        position: absolute;
        max-width: 400px;
        width: 100vw;
        max-height: 100vh;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        box-sizing: border-box;
        overflow-y: auto;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(45%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .layout .mobile-header .burger-menu .menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    .layout .mobile-header .burger-menu .menu li label {
        cursor: pointer;
    }

    /*
 * And let's slide it in from the left
 */
    .layout .mobile-header .burger-menu input:checked~ul {
        transform: none;
    }

    .layout .about .profile .image .content {
        max-width: 280px;
        max-height: 280px;
    }

    .layout .about .profile .content .name {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 8px;
    }

    .layout .about .profile .content .designation {
        font-size: 22px;
    }

    .layout .about .profile .content .intro {
        font-size: 16px;
    }
}