@media screen and (max-width: 1440px) {
    .layout .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .layout .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .layout .mobile-header {
        display: none;
    }

    .layout .mobile-header img {
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
    }

    .layout .top-header .sub-header {
        gap: 2rem;
    }

    .layout .about .profile {
        flex-direction: column;
    }

    .layout .about .profile .image {
        order: 1;
        justify-content: center;
    }

    .layout .about .profile .content {
        order: 2;
        text-align: center;
    }

    .layout .about .profile .content .designation {
        justify-content: center;
    }

    .layout .about .profile .content .social-websites {
        justify-content: center;
    }
}

@media screen and (max-width: 640px) {
    .layout .top-header {
        display: none;
    }

    .layout .mobile-header {
        display: flex;
        justify-content: space-between;
    }

    .layout .mobile-header .menu-icon {
        font-size: 2rem;
        cursor: pointer;
    }

    .layout .mobile-header .menu-card {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 60px;
        right: 10px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        z-index: 10;
    }

    .layout .mobile-header .menu-card a {
        padding: 1rem;
        text-decoration: none;
        color: #333;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
    }

    .layout .mobile-header .menu-card button {
        color: #005BAC;
        padding: 10px 20px;
        border: 1px solid #005BAC;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 1.5rem;
    }

    .layout .mobile-header .menu-card a:hover {
        background: #f0f0f0;
    }

    .layout .mobile-header .menu-card.open {
        display: flex;
        animation: slideDown 0.3s ease-in-out;
    }

    @keyframes slideDown {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .layout .about .profile .image .content {
        max-width: 280px;
        max-height: 280px;
    }

    .layout .about .profile .content .name {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 8px;
    }

    .layout .about .profile .content .designation {
        font-size: 22px;
        line-height: 48px;
        margin-bottom: 16px;
    }

    .layout .about .profile .content .intro {
        font-size: 16px;
    }

    .layout .skill-experiences .skill-list .content .header {
        margin-top: 12px;
        font-size: 32px;
    }

    .layout .skill-experiences .skill-list .content .info {
        font-size: 16px;
    }

    .layout .skill-experiences .experience-list .content .info {
        margin-top: 12px;
        font-size: 16px;
    }

    .layout .skill-experiences .skill-list .content .skill-boxes .box {
        max-width: 330px;
        padding: 10px 36px;
    }

    .layout .skill-experiences .skill-list .content .skill-boxes .box .box-contents .content {
        font-size: 14px;
        padding: 6px 12px;
    }

    .layout .skill-experiences .experience-list .content .experiences .experience .content {
        padding: 10px;
        gap: 8px;
        width: 300px;
    }

    .layout .skill-experiences .experience-list .content .experiences .experience .content .header .company .designation {
        font-size: 14px;
    }

    .layout .skill-experiences .experience-list .content .experiences .experience .content .header .company .name {
        font-size: 12px;
    }

    .layout .skill-experiences .experience-list .content .experiences .experience .content .header .company .years {
        font-size: 10px;
    }

    .layout .skill-experiences .experience-list .content .experiences .experience .content .responsibility {
        font-size: 12px;
    }

    .layout .skill-experiences .experience-list .content .experiences .experience .content .responsibility .skills .list .items {
        font-size: 12px;
    }

    .layout .projects-container .box .header {
        margin-top: 12px;
        font-size: 32px;
    }

    .layout .projects-container .box .info {
        font-size: 16px;
    }

    .layout .education-contact .education-list .container .title {
        margin-top: 12px;
        font-size: 32px;
    }

    .layout .education-contact .education-list .container .description {
        font-size: 16px;
    }

    .layout .education-contact .education-list .container .listings .list .item .content .box .college {
        padding: 10px;
        gap: 8px;
        width: 300px;
    }

    .layout .education-contact .education-list .container .listings .list .item .content .box .college .details .name .title {
        font-size: 14px;
    }

    .layout .education-contact .education-list .container .listings .list .item .content .box .college .details .name .course {
        font-size: 12px;
    }

    .layout .education-contact .education-list .container .listings .list .item .content .box .college .details .name .years {
        font-size: 10px;
    }

    .layout .education-contact .education-list .container .listings .list .item .content .box .college .grade {
        font-size: 12px;
    }

    .layout .education-contact .education-list .container .listings .list .item .content .box .college .desc {
        font-size: 12px;
    }
}